<%= simple_form_for(@audio) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
      <%= f.file_field :audio %>
  </div>

  <%= f.association :students, input_html: { multiple: true }, label: false  %>
  <%= f.association :users, input_html: { multiple: true }, label: false  %>

  <button onclick="startRecording(this);">record</button>
  <button onclick="stopRecording(this);" disabled>stop</button>
  <h2>Recordings</h2>
  <ul id="recordingslist"></ul>

  <%= hidden_field_tag :recorded_audio, nil, data: { id: "recorded-audio" } %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
