<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @audio.name %>
  <%= @audio.audio.url %>
  <audio controls>
    <source src="<%= @audio.audio.url %>" type="audio/mpeg">
  </audio>
  <% @audio.students.each do |student| %>
    <%= @students.find(student).name %>
  <% end %>
  <% @audio.lessons.each do |lesson| %>
    <%= @lessons.find(lesson).name %>
  <% end %>
  <% @audio.users.each do |user| %>
    <%= @users.find(user).name %>
  <% end %>

</p>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
