<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @audio.name %>
  <audio controls>
    <source src="<%= @audio.file.url %>">
  </audio>

  <% @audio.students.each do |student| %>
    <%= @students.find(student).name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
