<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @audio.name %>
  <%= @audio.audio.url %>
  <audio controls>
    <source src="<%= @audio.audio.url %>" type="audio/mpeg">
  </audio>

</p>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
