<p id="notice"><%= notice %></p>
<div class="beatbox_header_ul">
    <nav>
    <ul title="view options">
    <li style="width:15%">
       <%= link_to audios_path do%>
         <img src="<%= asset_path('arrowGrey.png') %>" alt="Lessons" height="30" width="30">
       <% end %>
    </li>
    <li style="width:70%">
      <br/>
        <h4 class="text-center" style="color:#8A8A8A;"><%= @audio.name %></h4>
    </li>
    <li style="width:15%">
      <br/>
        <%= link_to 'Edit', edit_audio_path(@audio) %>
    </li>
    </ul>
    </nav>
</div>
<div class="topPadding text-center commentsVisible">
<audio controls>
  <source src="<%= @audio.audio.url %>" type="audio/mpeg">
</audio>
<br/><br/>
</div>
<div class="container bottomPadding">
  <br/>
    <div class="classes_list">
        <img src="<%= asset_path('Students.png') %>" width="30px" height="100%" alt="Cinque Terre">&nbsp&nbsp&nbspStudents
        <br/><br/>
        <% @audio.students.each do |student| %>
          <%= @students.find(student).name %><br/><br/>
        <% end %>
    </div>
    <br/>
    <div class="classes_list">
        <img src="<%= asset_path('LessonBlack.png') %>" width="30px" height="100%" alt="Cinque Terre">&nbsp&nbsp&nbspLessons
        <br/><br/>
        <% @audio.lessons.each do |lesson| %>
          <%= @lessons.find(lesson).name %><br/><br/>
        <% end %>
    </div>
    <br/>
    <div class="classes_list" id="audioToggle">
        <img src="<%= asset_path('Profile.png') %>" width="30px" height="100%" alt="Cinque Terre">&nbsp&nbsp&nbspInstructors
        <br/><br/>
        <% @audio.users.each do |user| %>
          <%= @users.find(user).name %><br/><br/>
        <% end %>
    </div>
</div>
