
<p id="notice"><%= notice %></p>
    <div class="beatbox_header_ul">
      <nav>
      <ul title="view options">
        <li class="beatbox_header_li">
        <br/>
          <h4 class="text-center" style="color:#8A8A8A;">Students List</h4>
      </li>
      </ul>
      </nav>
    </div>
<div class="container topPadding">
  <div class="col-md-3 col-md-offset-4">
  <br>
  <p id="notice"><%= notice %></p>
        <% @students.each do |student| %>
          <ul title ="students" class="students_list">
            <%= link_to student  do%>
              <!--<li><img src="http://www.bordeaux-tourism.co.uk/var/ezwebin_site/storage/images/media/images/regards-bordelais/jean-poutge/profil-jean/12599-2-fre-FR/Profil-Jean_format_360x360.jpg" class="img-circle" alt="Student profile picture" height="42" width="42"></li>-->
              <li><div class="beatbox_student_circle" style="background:<%=student.color%>"><%=student.name[0..1] %></div></li>
              <li>&nbsp&nbsp<%=student.name %>
              <br/>&nbsp&nbsp<%=student.age%>,<%=student.profile%>
              </li>
            <% end %>
            <br/><br/><br/>
            </ul>
            <br/>
        <% end %>
  <div class="text-center"><button type="button" class="lesson_button"><%= link_to '+', new_student_path %></button></div>
  </div>
</div>
