
<p id="notice"><%= notice %></p>
<div class="col-md-3 col-md-offset-4">
<br>
<p id="notice"><%= notice %></p>
<h6 class="text-center">Students List</h6>
      <% @students.each do |student| %>

        <ul title ="students" class="students_list">
          <%= link_to student  do%>
            <li><img src="http://bjstlh.com/data/wallpapers/59/WDF_1048440.jpg" class="img-circle" alt="Student profile picture" height="42" width="42"></li>
            <li> &nbsp <%=student.name%> <br/>
                 &nbsp <%= student.age %>
            </li>

          <% end %>
          <br/>
          <br/>
          <br/>
          </ul>
          <br/>
      <% end %>

<button type="button" class="student_button"><%= link_to '+', new_student_path %></button>
</div>
