<div class="container">
<p id="notice"><%= notice %></p>
<%= link_to 'Back', students_path %>
<%= link_to 'Edit', edit_student_path(@student) %>
<p>
  <strong class="beatbox_label_field">Name:</strong>
  <%= @student.name %>
</p>
<br>
<p>
  <strong class="beatbox_label_field">Age:</strong>
  <%= @student.age %>
</p>
<br>
<p>
  <strong class="beatbox_label_field">Gender:</strong>
  <%= @student.gender %>
</p>
<br/>
<p>
  <strong class="beatbox_label_field">Classes Enrolled In:</strong>
  <% @student.sections.each do |section| %>
  <%= @sections.find(section).name %>
<% end %>
</p>

<br/>
<strong class="beatbox_label_field">Recordings:</strong>
<br/>
<% @student.audios.each do |audio| %>
  <audio controls>
    <source src="<%= @audios.find(audio).file.url %>" type="audio/mpeg">
  </audio>
<% end %>
<br/>
<strong class="beatbox_label_field">Comments:</strong>
<ul>
<% @comments.each do |comment| %>
  <li>
    <h5><%= comment.comments_text %> <i><%= @users.find(comment.user_ids[0]).name %></i></h5>
  </li>
<% end %>
</ul>

<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>
  <br/>
  <div class="form-inputs">
    <%= f.input :comments_text %>
  </div>

  <%=f.hidden_field :student_id, :value => @student.id %>

  <br/>
  <div class="text-center">
    <%= f.button :submit, :class => "beatbox_button" %>
  </div>
<% end %>
</div>
