<div class = "container text-center">
<p id="notice"><%= notice %></p>

<%= link_to 'Back', students_path %>
<%= link_to 'Edit', edit_student_path(@student) %>
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
<br>
<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>
<br>
<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>


<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>


<% @student.sections.each do |section| %>
  <%= @sections.find(section).name %>
<% end %>

<% @student.audios.each do |audio| %>
  <%= @audios.find(audio).name %>
  <audio controls>
    <source src="<%= @audios.find(audio).file.url %>" type="audio/mpeg">
  </audio>
<% end %>
<br>
<strong>Comments:</strong>
<ul>
<% @comments.each do |comment| %>
  <li>
    <p><%= comment.comments_text %></p>
    <p><%= @users.find(comment.user_ids[0]).name %></p>
  </li>
<% end %>
</ul>

<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :comments_text %>
  </div>

  <%=f.hidden_field :student_id, :value => @student.id %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


</div>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
