<div class="container">
<p id="notice"><%= notice %></p>
<%= link_to 'Back', students_path%>
<%= link_to 'Edit', edit_student_path(@student)%>
<div class="text-center">
<img src="http://bjstlh.com/data/wallpapers/59/WDF_1048440.jpg" class="img-circle" alt="Student profile picture" height="150" width="150">
 <br/><br/><%= @student.name%>
   &nbsp <%= @student.age %>
   &nbsp <%= @student.gender %>
  <br/><br/>
</div>
<p>
  <strong class="beatbox_label_field">Classes Enrolled In:</strong><br/>
  <br/>
  <% @student.sections.each do |section| %>
  <%= @sections.find(section).name %>
<% end %>
</p>

<br/>
<strong class="beatbox_label_field">Recordings:</strong><br/>
<br/>
<% @student.audios.each do |audio| %>
  <%= @audios.find(audio).name %>
  <audio controls>
    <source src="<%= @audios.find(audio).audio.url %>" type="audio/mpeg">
  </audio>
<% end %>
<br/>
<strong class="beatbox_label_field">Comments:</strong>

<% @comments.each do |comment| %>
<ul>
  <li>
    <h5><%= comment.comments_text %> <i><%= @users.find(comment.user_ids[0]).name %></i></h5>
  </li>
</ul>
<% end %>


<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>
  <br/>
  <div class="form-inputs">
    <%= f.input :comments_text %>
  </div>

  <%=f.hidden_field :student_id, :value => @student.id %>

  <br/>
  <div class="text-center">
    <%= f.button :submit, :class => "beatbox_button" %>
  </div>
<% end %>
</div>
