<p id="notice"><%= notice %></p>

<%= link_to 'Back', students_path %>
<%= link_to 'Edit', edit_student_path(@student) %>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<% @student.sections.each do |section| %>
  <%= @sections.find(section).name %>
<% end %>

<% @student.audios.each do |audio| %>
  <%= @audios.find(audio).name %>
<% end %>
