<div class="beatbox_header_ul"> 
    <nav>
      <ul title="view options">
      <li style="width:15%">
         <%= link_to students_path do%>
           <img src="<%= asset_path('arrowGrey.png') %>" alt="Lessons" height="30" width="30">
         <% end %>
      </li>
      <li style="width:70%">
        <br/>
          <h4 class="text-center" style="color:#8A8A8A;"><%= @student.name %></h4>
      </li>
      <li style="width:15%">
        <br/>
          <%= link_to 'Edit', edit_student_path(@student) %>
      </li>
      </ul>
    </nav>
</div>
<div class="container topPadding">
<p id="notice"><%= notice %></p>
<div class="text-center">
<img src="http://www.bordeaux-tourism.co.uk/var/ezwebin_site/storage/images/media/images/regards-bordelais/jean-poutge/profil-jean/12599-2-fre-FR/Profil-Jean_format_360x360.jpg" class="img-circle" alt="Student profile picture" height="150" width="150">
 <br/><br/><%= @student.name%>
   &nbsp <%= @student.age %>
   &nbsp <%= @student.gender %>
  <br/><br/>
</div>
<p>
  <strong class="beatbox_label_field">Classes Enrolled In:</strong><br/>
  <br/>
  <% @student.sections.each do |section| %>
  <%= @sections.find(section).name %>
<% end %>
</p>

<br/>
<strong class="beatbox_label_field">Recordings:</strong><br/>
<br/>
<% @student.audios.each do |audio| %>
  <%= @audios.find(audio).name %>
  <audio controls>
    <source src="<%= @audios.find(audio).audio.url %>" type="audio/mpeg">
  </audio>
<% end %>
<br/>
<strong class="beatbox_label_field">Comments:</strong>

<% @comments.each do |comment| %>
<ul>
  <li>
    <h5><%= comment.comments_text %> <i><%= @users.find(comment.user_ids[0]).name %></i></h5>
  </li>
</ul>
<% end %>


<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>
  <br/>
  <div class="form-inputs">
    <%= f.input :comments_text %>
  </div>

  <%=f.hidden_field :student_id, :value => @student.id %>

  <br/>
  <div class="text-center">
    <%= f.button :submit, :class => "beatbox_button" %>
  </div>
<% end %>
</div>
