<div class="beatbox_header_ul">
    <nav>
        <ul title="view options">
            <li style="width:15%">
                <%= link_to students_path do%>
                <img src="<%= asset_path('arrowGrey.png') %>" alt="Lessons" height="30" width="30">
                <% end %>
            </li>
            <li style="width:70%">
                <br/>
                <h4 class="text-center" style="color:#8A8A8A;"><%= @student.name %></h4>
            </li>
            <li style="width:15%">
                <br/>
                <%= link_to 'Edit', edit_student_path(@student) %>
            </li>
        </ul>
    </nav>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#audioToggle").click(function () {
            $(".studentList").slideToggle();
        });

        $("#commentToggle").click(function () {
            $(".lessonsCompleted").slideToggle();
        });
    });
</script>
<p id="notice"><%= notice %></p>
<div class="container topPadding">
    <ul title="students" class="students_list">
        <li>
            <div class="beatbox_student_circle" style="background:<%=@student.color%>"><%=@student.name[0..1] %></div>
        </li>
        <li style="width:50%;">&nbsp&nbsp<%=@student.name %>
            <br/>&nbsp&nbsp<%=@student.age%>,<%=@student.profile%>
            <br/>
            <br/>
        </li>
        <li>
          <%= link_to new_audio_path do%>
          <img src="<%= asset_path('AddRecordButton.png') %>" alt="Lessons" height="100%" width="70"></img>
          <% end %>
        </li>
    </ul>
</div>
<div class="lessonAudioList text-center">
    <% @student.audios.each do |audio| %>
    <%= @audios.find(audio).name %>
    <audio controls>
        <source src="<%= @audios.find(audio).audio.url %>" type="audio/mpeg">
    </audio>
    <br/>
    <% end %>
</div>

<div class="container">
    <div class="classes_list" id="audioToggle">
        <br/>
        <img src="<%= asset_path('ClassBlack.png') %>" width="30px" height="100%" alt="Cinque Terre">&nbsp&nbsp&nbspView Classes
        <br/><br/>
    </div>

    <div class="studentList">
        <% @student.sections.each do |section| %>
        <ul title="student">
            <br/>
            <li>
                <%= @sections.find(section).name %>
            </li>
            <br/>
        </ul>
        <% end %>
    </div>

    <div class="classes_list" id="commentToggle">
        <br/>
        <img src="<%= asset_path('LessonBlack.png') %>" width="25px" height="100%" alt="Cinque Terre">&nbsp&nbsp&nbspView Lesson
        <br/><br/>
    </div>
</div>

    <div class="lessonsCompleted">
      <div class="container">
        <%= simple_form_for(@student) do |f| %>
        <ul title="student">
            <br/>
            <li>
                <%= f.association :lessons, as: :check_boxes, input_html: { multiple: true }, label: false  %>
            </li>
        </ul>
        <div class="text-center">
            <%= f.button :submit, "Update Lessons Completed" , :class => "beatbox_button" %>
        </div>
        <br/>
        <% end %>
    </div>
  </div>


<!--<strong class="beatbox_label_field">Statistics:</strong>
<% @tags.each do |tag| %>
<%= tag.name %>
<%= tag.lessons.count %>
<% count = 0 %>
<% @student.lessons.each do |lesson| %>
<% lesson.tags.each do |in_tag| %>
<% if in_tag.id == tag.id %>
<% count= count +1 %>
<% end %>
<% end %>
<% end %>
<%= count %>
<% end %>-->

<br/>

<div class="commentsVisible">
<div class="container">
  <strong class="beatbox_label_field">Comments:</strong>
    <% @comments.each do |comment| %>
    <ul>
        <li>
            <h5><%= comment.comments_text %></h5>
            <h6>
                <i><%= @users.find(comment.user_ids[0]).name %> , <%= comment.created_at %></i>
            </h6>
        </li>
    </ul>
    <% end %>
    <%= simple_form_for(@comment) do |f| %>
    <%= f.error_notification %>
    <br/>
    <div class="form-inputs">
        <%= f.input :comments_text, label: false %>
    </div>
    <%=f.hidden_field :section_id, :value => @student.id %>
    <br/>
    <div class="text-center bottomPadding">
        <%= f.button :submit, :class => "beatbox_button" %>
    </div>
</div>
<% end %>
</div>

<br/><br/><br/>
</div>
