<p id="notice"><%= notice %></p>

  <div class="text-center">
  <br/>
<img src="<%= asset_path('kayla.png') %>" class="img-circle" alt="Student profile picture" height="150" width="150">
 <br/><br/>
	<strong class="beatbox_label_field">Name:</strong>
  <%= @user.name %>
  <br/><br/>
  <strong class="beatbox_label_field">Email:</strong>
  <%= @user.email %>
<br/><br/>

  <%= link_to "Logout", '/logout', :class => "beatbox_button" %>
</div>
