<!-- app/views/users/new.html.erb -->
<div class="beatbox_header_ul">
    <nav>
        <ul title="view options">
            <li style="width:15%">
                <%= link_to '/login' do %>
                <img src="<%= asset_path('arrowGrey.png') %>" alt="Lessons" height="30" width="30">
                <% end %>
            </li>
            <li style="width:70%">
                <br/>
                <h4 class="text-center" style="color:#8A8A8A;">Sign Up</h4>
            </li>
        </ul>
    </nav>
</div>

<div class="container topPadding">
<div class="col-md-5 col-md-offset-5">
<%= form_for :user, url: '/users' do |f| %>
<div class="classes_list">
  <br/>
  <%= f.label :name, :class => "beatbox_label_field" %>
  <%= f.text_field :name, placeholder: "Enter your name", :class => "beatbox_textfield_properties" %>
</div>

<div class="classes_list">
  <br/>
  <%= f.label :email, :class => "beatbox_label_field" %>
  <%= f.text_field :email, placeholder: "Enter your email", :class => "beatbox_textfield_properties" %>
</div>
<div class="classes_list">
  <br/>
  <%= f.label :password, :class => "beatbox_label_field" %>
  <%= f.password_field :password, placeholder: "Enter your password", :class => "beatbox_textfield_properties" %>
</div>
<div class="classes_list">
  <br/>
  <%= f.label :password_confirmation, :class => "beatbox_label_field" %>
  <%= f.password_field :password_confirmation, placeholder: "Re enter your password", :class => "beatbox_textfield_properties" %>
</div>
<br/>
<br/>
  <div class="text-center"><%= f.submit "Submit", :class => "beatbox_button" %></div>
<% end %>
</div>
</div>
