<%= simple_form_for(@section) do |f| %>
  <%= f.error_notification %>
  <div class="container topPadding">
  <div class="form-inputs">
    <%= f.input :name, placeholder: "Enter your email", :class => "beatbox_textfield_properties" %>
  </div>

  <div>
    <%= f.association :students, input_html: { multiple: true },placeholder: "Enter your email", :class => "beatbox_textfield_properties" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "beatbox_button" %>
  </div>

<% end %>
