<p id="notice"><%= notice %></p>
    <div class="beatbox_header_ul">
      <nav>
      <ul title="view options">
        <li class="beatbox_header_li">
        <br/>
          <h4 class="text-center" style="color:#8A8A8A;">Classes</h4>
      </li>
      </ul>
      </nav>
    </div>
<div class="container topPadding">
    <% @sections.each do |section| %>
    <%= link_to section  do%>
    <ul title ="classes" class="classes_list">
      <br/>
      <li style="width:90%;">
        <%= section.name %>
      </li>
      <li style="width:10%;">
        <img src="<%= asset_path('arrowLeft.png') %>" alt="Lessons" height="20" width="20"><br/><br/>
      </li>
      </ul>
    <% end %>
    <% end %>
  <br/>
  <div class="text-center"><button type="button" class="lesson_button"><%= link_to '+', new_section_path %></button></div>
</div>
