<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
<div class="container">
<p id="notice"><%= notice %></p>
<p>
  <h6 class="text-center"><%= @section.name %></h6>
    <% @section.students.each do |student| %>
    <br/>
  	<ul title="student"  class="classes_list">
    <li>
      <%=link_to @students.find(student).name,  @students.find(student) %>
    </li>
    <br/><br/>
  	</ul>
    <% end %>

</p>
</div>
