<p id="notice"><%= notice %></p>

<p>
  <h2><%= @section.name %></h2>
  <ul title="student">
    <% @section.students.each do |student| %>
    <li>
      <%= @students.find(student).name %>
    </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
