
<%= simple_form_for(@tag) do |f| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container topPadding">
  <div class="classes_list">
    <br/>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Enter the tag name", :class => "beatbox_textfield_properties" %>
  </div>

  <div class="classes_list">
    <br/>
    <%= f.input :color, as: :minicolors %>
    <br/>
  </div>
  <br/>
  <div class="text-center">
      <%= f.submit :class => "beatbox_button"  %>
      <div>
  </div>
</div>
<% end %>
