<%= simple_form_for @lesson do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
  <form>
  <div class="form-group">
    <%= f.label :name, :class => "beatbox_label_field" %>
    <%= f.text_field :name, placeholder: "Enter the Lesson name", :class => "beatbox_textfield_properties" %>
  </div>

  <div class="form-group">
    <%= f.label :notes, :class => "beatbox_label_field" %>
    <%= f.text_area :notes, placeholder: "Notes", :class => "beatbox_textfield_properties" %>
  </div>

  <div class="form-group">
    <%= f.association :tags, input_html: { multiple: true }, :class => "beatbox_textfield_properties"  %>
  </div>

  <div class="actions text-center">
    <input class="beatbox_button" type="submit" name="commit" value="Create Lesson" data-disable-with="Create Lesson">
  </div>
  </form>
  </div>
<% end %>
