<%= simple_form_for @lesson do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.association :tags, input_html: { multiple: true }, :class => "form-control"  %>
  </div>

  <div class="actions">
    <input class=" btn btn-default" type="submit" name="commit" value="Create Lesson" data-disable-with="Create Lesson">
  </div>
<% end %>
