
<div class="container">
<br/>
<h1>Editing Lesson</h1>

<%= render 'form', lesson: @lesson %>
<%= link_to 'Destroy', @lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Show', @lesson %> |
<%= link_to 'Back', lessons_path %>

<div class="text-center">
<h1>Editing Student</h1>
</div>

<%= render 'form', lesson: @lesson %>

</div>