
<p id="notice"><%= notice %></p>
    <div class="beatbox_header_ul"> 
      <nav>
      <ul title="view options">
        <li class="beatbox_header_li">
        <br/>
          <h4 class="text-center" style="color:#8A8A8A;">Lessons</h4>
      </li>
      </ul>
      </nav>
    </div>
<div class="container text-center topPadding">
  <ul title = "tags available" class="tag-list">
<div class="parent">
<div class="scrollmenu">
     <% @tags.each do |tag| %>
      <input type="checkbox" name="chk_group" value="<%= tag.name %>"/>&nbsp<%= tag.name %>&nbsp
    <% end %>
</div>
</div>
</ul>


  <% @lessons.each do |lesson| %>
  <ul title ="lessons" class="classes_list lesson <%= lesson.tags.map { |tag| "lesson-#{tag.name}" }.join(" ") %>">
      <li class="lesson_li">
        <%= link_to lesson.nickname , lesson  %></li><br/>
        <%=  lesson.name %>
          <li class="lesson_li"><% lesson.tags.each do |tag| %>
            <%= @tags.find(tag).name %>
          <% end %>
          </li>
  </ul>
  <% end %>

<br/>
<br/>
<button type="button" class="lesson_button"><%= link_to '+', new_lesson_path %></button>
</div>
