<div class="container text-center">
<br>
<p id="notice"><%= notice %></p>
<h1>Lessons</h1>
<div class="container">

<table class ="table">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Notes</th>
      <th class="text-center">Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <ul title = "tags available">
    <% @tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </ul>
  <h1>Lessons</h1>
  <ul title ="lessons">

    <% @lessons.each do |lesson| %>

      <li>
        <%= link_to lesson  do%>
        <p><%= lesson.name %></p>
          <% lesson.tags.each do |tag| %>
            <%= @tags.find(tag).name %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'New Lesson', new_lesson_path %>

<button type="button" class="btn btn-default"><%= link_to 'New Lesson', new_lesson_path %></button>
</div>
<%= link_to 'New Lesson', new_lesson_path %>
<div>
