<p id="notice"><%= notice %></p>

<div class="container">

  <ul title = "tags available">
    <% @tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </ul>
  <h1>Lessons</h1>
  <ul title ="lessons">

    <% @lessons.each do |lesson| %>

      <li>
        <%= link_to lesson  do%>
        <p><%= lesson.name %></p>
          <% lesson.tags.each do |tag| %>
            <%= @tags.find(tag).name %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'New Lesson', new_lesson_path %>

<div>
