
<p id="notice"><%= notice %></p>
    <div class="beatbox_header_ul">
      <nav>
      <ul title="view options">
        <li class="beatbox_header_li">
        <br/>
          <h4 class="text-center" style="color:#8A8A8A;">Lessons</h4>
      </li>
      </ul>
      </nav>
    </div>
<div class="container topPadding">
<ul title = "tags available" class="tag-list">
<div class="parent">
<br/>
<span class="scrollmenu">
    <% @tags.each do |tag| %>
    <span class="tag-color" style="background-color:<%= tag.color %>;width:20px;height:20px"><input type="checkbox" name="chk_group" value="<%= tag.name %>"/></span>&nbsp<%= tag.name %>&nbsp
    <% end %>
    <%= link_to 'Add Tag', new_tag_path %>
</span>
</div>
</ul>
  <% @lessons.each do |lesson| %>
  <ul title ="lessons" class="classes_list lesson <%= lesson.tags.map { |tag| "lesson-#{tag.name}" }.join(" ") %>">
  <br/>
    <%= link_to lesson  do%>
      <li style="width:10%">
        <ul>
          <% lesson.tags.each do |tag| %>
          <li>
            <div class="beatbox_lesson_circle" style="background:<%= @tags.find(tag).color%>">
          </li>
          <% end %>
        </ul>
      </li>
      </li>
      <li style="width:80%;">
        <%= lesson.name  %><br/>
        <%= lesson.nickname %>
      </li>
      <li style="width:10%;">
        <img src="<%= asset_path('arrowLeft.png') %>" alt="Lessons" height="20" width="20"><br/><br/>
      </li>
      <% end %>
  </ul>
  <% end %>

<br/>
<br/>
<div class="text-center"><button type="button" class="lesson_button"><%= link_to '+', new_lesson_path %></button></div>
</div>
