<div class="container text-center">
<br>
<p id="notice"><%= notice %></p>
<h1>Lessons</h1>

<table class ="table">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Notes</th>
      <th class="text-center">Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.name %></td>
        <td><%= lesson.notes %></td>
        <td>
          <% lesson.tags.each do |tag| %>
            <%= @tags.find(tag).name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-default"><%= link_to 'New Lesson', new_lesson_path %></button>
</div>