<div class = "container text-center">
<br>
<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
<br>
<p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>
<br>
<p>
  <strong>Notes:</strong>
  <%= @lesson.notes %>
</p>
</div>


