<p id="notice"><%= notice %></p>
 <div class="beatbox_header_ul">
      <nav>
      <ul title="view options">
      <li style="width:15%">
         <%= link_to lessons_path do%>
           <img src="<%= asset_path('arrowGrey.png') %>" alt="Lessons" height="30" width="30">
         <% end %>
      </li>
      <li style="width:70%">
        <br/>
          <h4 class="text-center" style="color:#8A8A8A;">Lessons</h4>
      </li>
      <li style="width:15%">
        <br/>
          <%= link_to 'Edit', edit_lesson_path(@lesson) %>
      </li>
      </ul>
      </nav>
    </div>
<div class = "container text-center topPadding">
<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Nickame:</strong>
  <%= @lesson.nickname %>
</p>
<br>
<p>
  <strong>Notes:</strong>
  <%= @lesson.notes %>
</p>
<% @lesson.tags.each do |tag| %>
  <%= @tags.find(tag).name %>
<% end %>

<strong class="beatbox_label_field">Recordings:</strong><br/>
<br/>
<% @lesson.audios.each do |audio| %>
  <%= @audios.find(audio).name %>
  <audio controls>
      <source src="<%= @audios.find(audio).audio.url %>" type="audio/mpeg">
  </audio>
  <% end %>
<br/>

</div>
