<div class = "container text-center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Nickame:</strong>
  <%= @lesson.nickname %>
</p>
<br>
<p>
  <strong>Notes:</strong>
  <%= @lesson.notes %>
</p>
<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
<% @lesson.tags.each do |tag| %>
  <%= @tags.find(tag).name %>
<% end %>
</div>
