<p id="notice"><%= notice %></p>
  <div class="beatbox_header_ul">
      <nav>
      <ul title="view options">
      <li style="width:15%">
         <%= link_to lessons_path do%>
           <img src="<%= asset_path('arrowGrey.png') %>" alt="Lessons" height="30" width="30">
         <% end %>
      </li>
      <li style="width:70%">
        <br/>
          <h4 class="text-center" style="color:#8A8A8A;"><%= @lesson.name %></h4>
      </li>
      <li style="width:15%">
        <br/>
          <%= link_to 'Edit', edit_lesson_path(@lesson) %>
      </li>
      </ul>
      </nav>
</div>
<div class = "container topPadding">
<ul class="classes_list">
<li>
  <br/>
  <strong>Lesson Name</strong>
  <br/>
  <%= @lesson.name %>
  <br/><br/>
</li>
</ul>
<ul class="classes_list">
<li>
  <br/>
  <strong>Subtitle</strong>
  <br/>
  <%= @lesson.nickname %>
  <br/><br/>
</li>
<br/>
</ul>
<ul class="classes_list">
<li>
  <br/>
  <strong>Notes</strong>
  <br/>
  <%= @lesson.notes %>
  <br/>
  <br/>
  </li>
  </ul>
<br/>
<% @lesson.tags.each do |tag| %>
  <span class="beatbox_lesson_circle" style="background:<%= @tags.find(tag).color%>"><%= @tags.find(tag).name%></span> &nbsp
<% end %>
<br/><br/>
<strong class="beatbox_label_field">Records:</strong>
</div>
<br/>
<div class="lessonAudioList text-center bottomPadding">
<% @lesson.audios.each do |audio| %>
  <%= @audios.find(audio).name %>
  <audio controls>
      <source src="<%= @audios.find(audio).audio.url %>" type="audio/mpeg">
  </audio>
  <% end %>
</div>
<br/>
